{% extends 'base.html' %}
{% load static %}
{% block title %}<title>feeds</title>{% endblock %}

{% block extraStyle %}
<link rel="stylesheet" href="{% static 'feeds.css' %}">
{% endblock %}

{% block main %}

{% for post in posts %}
    {% for profile in profiles %}
        {% if profile.user == post.postedBy %}
        {% include "post.html" with textmessage=post.textContent username=post.postedBy propicsrc=profile.profileImage imagesrc=post.imageContent only%}
        {% endif %}
    {% endfor %}
{% endfor %}

<a href="{% url 'feeds:postform' %}">
    {% include "addcontent.html" %}
</a>

{% endblock %}