{% extends 'base.html' %}

{% block extraStyle %}
    <style>

        form {
            width: 100%;
            height: 100%;
        }

        input[type='submit'] {
            width: 30%;
        }

        .container {
            width: 80%;
            height: 70%;
            margin: 15% 10% 15% 10%;
            background-color: white;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 3%;
        }

        .container div {
            display: flex;
            flex-direction: column;
            margin-top: 5%;
        }

        .text {
            height: 5%;
            max-width: 70%;
            max-height: 50%;
        }
    </style>
{% endblock %}

{% block main %}
<div class="container">
        {% if user.is_authenticated %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
        {% if request.path == '/postform' %}
        <form action="{% url 'feeds:postform' %}" method="post" enctype="multipart/form-data">
        {% elif request.path == '/blogs/postform' %}
        <form action="{% url 'blogs:postform' %}" method="post" enctype="multipart/form-data">

        {% endif %}

            {% csrf_token %}
            {{form.as_div}}
            <div class="field">
                <input type="submit" value="Post">
            </div>
        </form>
        {% else %}
            <h3>Login to Post your thoughts..</h3><br>
            <a href="{% url 'profiles:login' %}">login</a>
        {% endif %}
    </div>
{% endblock %}