<!-- <div class="posts">
    <div class="profile">
        <div class="profile-pic">
            <img src={{propicsrc}} alt="" class="profileimg" style="display: inline;">
        </div>
        <div class="user-details">
            <p class="username" style="display: inline;">{{username}}</p>
        </div>
    </div>
    <div class="text-message">{{ textmessage }}</div>
    {% if imagesrc %}
    <div class="img-section">
        <img src={{imagesrc}} alt="" class="postimage" >
    </div>
    
    {% endif %}
    <div class="buttons-section">
        <i class="fa-solid fa-share fa-xl"></i>
        <i class="fa-regular fa-comment fa-xl"></i>
        <i class="fa-regular fa-thumbs-up fa-xl"></i>
    </div>
</div> -->




    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <!--- \\\\\\\Post-->
                <div class="card m-2">
                    <div class="card-heade">
                        <div class="d-flex">
                            <div class="p-2">
                                <img class="rounded-circle" style="border-radius: 50%; width: 2rem; height: 2rem;" src="{{propicsrc}}" alt="">
                            </div>
                            <div class="p-2">
                                <div class="h5 m-0">{{username}}</div>
                            </div>
                        </div>
                    </div>
                    {% if imagesrc %}
                    <img src="{{imagesrc}}" style="border-radius: 0;" class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <div class="text-muted h7 mb-1"> <small><i class="fa fa-clock-o"></i> Posted 40 min
                                ago...</small></div>
                        <h5 class="card-title">{{ textmessage }}</h5>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-danger"><i class="fa fa-heart"></i> Like</button>
                        <button class="btn btn-outline-primary"><i class="fa fa-comment"></i> Comment</button>
                        <button class="btn btn-outline-warning"><i class="fa fa-mail-forward"></i> Share</button>
                    </div>

                </div>
                <!-- Post /////-->
            </div>

        </div>
    </div>
